config chilli
    # name of TUN device name. required.
    option tundev 'tun2'

    # name of network interface
    option network ''

    option redirssl 'on'
    option sslcertfile /etc/chilli/ssl/mojawifi.com.crt
    option sslkeyfile /etc/chilli/ssl/mojawifi.com.key

    # Include this flag if process is to run in the foreground
    #option fg

    # Include this flag to include debug information.
    # option debug

    # Re-read configuration file at this interval. Will also cause new domain
    # name lookups to be performed. Value is given in seconds.
    #option interval 3600

    # File to store information about the process id of the program.
    # The program must have write access to this file/directory.
    #option pidfile /var/run/chilli.pid

    # Directory to use for nonvolatile storage.
    # The program must have write access to this directory.
    # this option is currently ignored
    #option statedir ./


    # TUN parameters

    # IP network address of external packet data network
    # Used to allocate dynamic IP addresses and set up routing.
    # Normally you do not need to uncomment this option.
    #option net 192.168.182.0/24

    # Dynamic IP address pool
    # Used to allocate dynamic IP addresses to clients.
    # If not set it defaults to the net tag.
    # Do not uncomment this option unless you are an experienced user!
    option dynip 192.168.180.0/24

    # Primary DNS server.
    # Will be suggested to the client.
    # If omitted the system default will be used.
    # Normally you do not need to uncomment this option.
    option dns1 192.168.180.1

    # Secondary DNS server.
    # Will be suggested to the client.
    # If omitted the system default will be used.
    # Normally you do not need to uncomment this option.
    # option dns2 192.168.180.1

    # Domain name
    # Will be suggested to the client.
    # Normally you do not need to uncomment this option.
    option domain mojawifi.com

    # Script executed after network interface has been brought up.
    # Executed with the following parameters: <devicename> <ip address>
    # <mask>
    # Normally you do not need to uncomment this option.
    option ipup /etc/chilli/up.sh

    # Script executed after network interface has been taken down.
    # Executed with the following parameters: <devicename> <ip address>
    # <mask>
    # Normally you do not need to uncomment this option.
    option ipdown /etc/chilli/down.sh


    # Radius parameters

    # IP address to listen to
    # Normally you do not need to uncomment this option.
    #option radiuslisten 127.0.0.1

    # IP address of radius server 1
    # For most installations you need to modify this option.
    option radiusserver1 127.0.0.1

    # IP address of radius server 2
    # If you have only one radius server you should set radiusserver2 to the
    # same value as radiusserver1.
    # For most installations you need to modify this option.
    option radiusserver2 127.0.0.1

    # Radius authentication port
    # The UDP port number to use for radius authentication requests.
    # The same port number is used for both radiusserver1 and radiusserver2.
    # Normally you do not need to uncomment this option.
    #option radiusauthport 1812

    # Radius accounting port
    # The UDP port number to use for radius accounting requests.
    # The same port number is used for both radiusserver1 and radiusserver2.
    # Normally you do not need to uncomment this option.
    #option radiusacctport 1813

    # Radius shared secret for both servers
    # For all installations you should modify this option.
    option radiussecret 123456

    # Radius NAS-Identifier
    # Normally you do not need to uncomment this option.
    #option radiusnasid nas01

    # WISPr Location ID. Should be in the format: isocc=<ISO_Country_Code>,
    # cc=<E.164_Country_Code>,ac=<E.164_Area_Code>,network=<ssid/ZONE>
    # Normally you do not need to uncomment this option.
    #option radiuslocationid isocc=us,cc=1,ac=408,network=ACMEWISP_NewarkAirport

    # WISPr Location Name. Should be in the format:
    # <HOTSPOT_OPERATOR_NAME>,<LOCATION>
    # Normally you do not need to uncomment this option.
    #option radiuslocationname ACMEWISP,Gate_14_Terminal_C_of_Newark_Airport

    # Radius proxy parameters

    # IP address to listen to
    # Normally you do not need to uncomment this option.
    #option proxylisten 10.0.0.1

    # UDP port to listen to.
    # If not specified a port will be selected by the system
    # Normally you do not need to uncomment this option.
    #option proxyport 1645

    # Client(s) from which we accept radius requests
    # Normally you do not need to uncomment this option.
    #option proxyclient 10.0.0.1/24

    # Radius proxy shared secret for all clients
    # If not specified defaults to radiussecret
    # Normally you do not need to uncomment this option.
    #option proxysecret testing123


    # DHCP Parameters

    # Ethernet interface to listen to.
    # This is the network interface which is connected to the access points.
    # In a typical configuration this option should be set to eth1.
    option dhcpif wlan0

    # Time before DHCP lease expires
    # Normally you do not need to uncomment this option.
    #option lease 600


    # Universal access method (UAM) parameters

    # URL of web server handling authentication.
    option uamserver http://www.mojawifi.com

    # URL of welcome homepage.
    # Unauthenticated users will be redirected to this URL. If not specified
    # users will be redirected to the uamserver instead.
    # Normally you do not need to uncomment this option.
    #option uamhomepage http://192.168.182.1/welcome.html
    option uamhomepage 'https://www.mojawifi.com'

    # Shared between chilli and authentication web server
    #option uamsecret ht2eb8ej6s4et3rg1ulp

    # IP address to listen to for authentication requests
    # Do not uncomment this option unless you are an experienced user!
    option uamlisten 192.168.180.1

    option uamaliasip '10.64.0.1'
    option uamaliasname 'chilli'


    # TCP port to listen to for authentication requests
    # Do not uncomment this option unless you are an experienced user!
    #option uamport 3990

    # Comma separated list of domain names, IP addresses or network segments
    # the client can access without first authenticating.
    # It is possible to specify this option multiple times.
    # Normally you do not need to uncomment this option.
    option uamallowed '192.168.180.1'

    # Comma separated list of domain names
    # the client can access without first authenticating.
    # It is possible to specify this option multiple times.
    # Normally you do not need to uncomment this option.
    # option uamdomain '.brck.com,.google.com,.mojawifi.com'

    # If this flag is given unauthenticated users are allowed to use
    # any DNS server.
    # Normally you do not need to uncomment this option.
    #option uamanydns


    # Account storage configuration (Recover session on reconnect/chilli restart)
    # Also update session from Radius accounting response
    # acctupdate: Allow updating of session parameters with RADIUS attributes sent in Accounting-Response.
    # statusfilesave: Write the status of clients in a non-volatile state file
    option acctupdate 0

    # DHCP Option 43 - Android Metered
    # Flag sent down as vendor DHCP option so Android treats
    # network as a metered network and limits data usage
    option dhcpopt '414E44524F49445F4D455445524544'

    # XWF Configuration
    option condown '/etc/chilli/xwfchilli_disconnect_event_handler.sh'
    option definteriminterval '20'
    option xwfconfigfile '/etc/chilli/tc.conf'
    option xwfmode '1'
    option macauth '1'
    option coaport '3798'
    option radiusauthport '3812'
    option radiusacctport '3813'
    option swapoctets '1'


    # Session speed defaults.
    option defbandwidthmaxdown '1000000'
    option defbandwidthmaxup '500000'

    # Resources exempt from session limits (captive)
    option authedallowed '192.168.180.1'

    # Send/Receive Buffers
    option rcvbuf '4194304'
    option sndbuf '4194304'
